#![enable(implicit_some)]
Label(
    transform: (
        id: "south_list",
        anchor: TopLeft,
        pivot: TopLeft,
        x: 100.,
        y: -25.,
        width: 500.,
        height: 500.,
        opaque: false,
    ),
    text: (
        align: TopLeft,
        text: "Left Click a Tile",
        font_size: 20.,
        color: (0.8, 1., 1., 1.),
        font: File("fonts/Bangers-Regular.ttf", ("TTF", ())),
        line_mode: Wrap
    ),
)
