Grid((
    // Width of the texture used by the sprite sheet
    texture_width: 32,
    // Height of the texture used by the sprite sheet
    texture_height: 32,
    // Specifies the number of columns in the sprite sheet
    columns: 1,
    rows: Some(1),
))