Grid((
    // Width of the texture used by the sprite sheet
    texture_width: 84,
    // Height of the texture used by the sprite sheet
    texture_height: 84,
    // Specifies the number of columns in the sprite sheet
    columns: 6,
    rows: Some(6),
))