#![enable(implicit_some)]
Prefab(
  entities: [
    PrefabEntity(
      data: MyPrefabData(
        sprite_scene: (
          sheet: Sheet(
            texture: File(
              "sprites/Slime Sprite Sheet.png",
              (
                "IMAGE",
                (
                  sampler_info: (
                    min_filter: Nearest,
                    mag_filter: Nearest,
                    mip_filter: Nearest,
                    wrap_mode: (Tile, Tile, Tile),
                    lod_bias: (0),
                    lod_range: (start: (0), end: (8000)),
                    comparison: None,
                    border: (0),
                    normalized: true,
                    anisotropic: Off,
                  ),
                ),
              ),
            ),
            sprites: [Grid((texture_width: 256, texture_height: 160, columns: 8, rows: 5))],
            name: "bat",
          ),
          render: (sheet: "bat", sprite_number: 0),
        ),
        animation_set: (
          animations: [
            (
              0,
              (
                samplers: [
                  (
                    0,
                    SpriteIndex,
                    (input: [0.0, 0.2, 0.4, 0.6, 0.8], output: [0, 1, 0, 2, 3], function: Step),
                  ),
                ],
              ),
            ),
            (
              1,
              (
                samplers: [
                  (
                    0,
                    SpriteIndex,
                    (
                      input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5],
                      output: [32, 33, 34, 35, 36, 37],
                      function: Step,
                    ),
                  ),
                ],
              ),
            ),
            (
              3,
              (
                samplers: [
                  (
                    0,
                    SpriteIndex,
                    (
                      input: [0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7],
                      output: [8, 9, 10, 11, 12, 13, 14, 15],
                      function: Step,
                    ),
                  ),
                ],
              ),
            ),
          ],
        ),
      ),
    ),
  ],
)